<section class="invoice">
  <h1>Invoice</h1>
  <div *ngFor="let item of cartItems" class="invoiceItem">
    <div class="itemDetails">
      <h2>Item details</h2>
      <p>ID: {{ item.id }}</p>
      <p>Product: {{ item.product }}</p>
      <p>Price: {{ item.price }}</p>
      <p>Quantity: {{ item.quantity }}</p>
      <button (click)="deleteItem(item.id)">Delete</button>
    </div>

    <form #updateItem="ngForm" (ngSubmit)="replaceItem(updateItem.value.id, updateItem.value.newId, updateItem.value.newProduct, updateItem.value.newPrice, updateItem.value.newQuantity)" class="updateItemForm">
      <h2>Edit item</h2>
      <label for="">New ID:</label>
      <input type="text" ngModel name="newId" />
      <label for="">New product:</label>
      <input type="text" ngModel name="newProduct" />
      <label for="">New price:</label>
      <input type="text" ngModel name="newPrice" />
      <label for="">New quantity:</label>
      <input type="text" ngModel name="newQuantity" />
      <button>Save</button>
    </form>
  </div>
</section>

<form #addItemForm="ngForm" (ngSubmit)="addItem(addItemForm.value.id, addItemForm.value.product, addItemForm.value.price, addItemForm.value.quantity)" class="addItemForm">
  <h1>Add item</h1>
  <label for="">ID:</label>
  <input type="text" ngModel name="id" class="formInput" />
  <label for="">Product:</label>
  <input type="text" ngModel name="product" class="formInput" />
  <label for="">Price:</label>
  <input type="text" ngModel name="price" class="formInput" />
  <label for="">Quantity:</label>
  <input type="text" ngModel name="quantity" class="formInput" />
  <button>Add</button>
</form>
